<br><br>
<div class="container mt-5 fadeInAnimation center-content" style="flex-direction: column;">
    <!-- <div class="row">
        <div class="col-lg-5 my-shadow">
            <img class="img-fluid img-shadow-white" alt="..." src="../../../assets/images/staticImages/flamingos.jpg">
        </div>
        <div class="col center-content mt-3" style="flex-direction: column;">
            <h3 class="text-center">Hello visitor, I am Raul Ivan Pineda Pedraza!</h3>
            <p style="padding: 0.5em; text-align:justify; font-size: 1.3em;">
                I created this website to demonstrate some of the experience that I have earned in technologies such as
                Angular, Asp .Net,
                MySql Server, MongoDB, Express, .NET Core, NodeJs, C#, GitHub, and Python.<br> <br>
                I'm a software engineer who likes to learn about new technologies daily to develop
                advanced applications
                with a critical and analytical focus. In addition, keep learning about programming has given me the
                skills to success
                in many programming challenges.
                These programming challenges have improved my skills as a software engineer. I will keep doing them
                until I reach my high professional goals.
            </p>
        </div>
    </div> -->

    <!--PORTADA-->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card profile-card-1 box-shadow-black">
                    <img src="../../../assets/images/staticImages/agaphi-logo.png" alt="profile-sample1"
                        class="background" />
                    <img src="../../../assets/images/staticImages/agaphi-logo.png" alt="profile-image"
                        class="profile" />
                    <div class="card-content">
                        <h2>Agaphi<small>Joyeria</small></h2>
                        <div class="icon-block">
                            <a href="#" class="me-2">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="me-2">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-whatsapp"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- <p class="mt-5 w-100 float-left text-center"><strong>Agaphi Joyeria</strong></p> -->
            </div>
            <div class="col center-content mt-3" style="flex-direction: column;">
                <h1 class="text-center mb-3 headers-text">Agapi</h1>
                <p style="text-align: justify; font-weight: bolder;">
                    “El trabajo hecho con gusto y con amor, siempre es una creación original y única.”
                    Aguascalientes, Ags. Agaphi es una tienda de joyeris donde puedes encontrar tanto collares, anillos,
                    pulseras, y demas. Tambien
                    podras personalizarlas, agregando una caja decorada con dedicatorias especiales o incluso con alguna
                    foto especial. Contamos con variedad de productos
                    y se hacen entregas exclusivamente ne la ciudad de Aguascalientes
                </p>
                <h3>Fundadora</h3>
                <img src="https://scontent.fagu3-1.fna.fbcdn.net/v/t39.30808-6/345252808_133510309713489_220693069831587779_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=174925&_nc_ohc=EwCngjXod8QAX8PqMtr&_nc_ht=scontent.fagu3-1.fna&oh=00_AfD3U7RSS8E9SU6EArwF8efh574HbWRUcC4kWhdMl5hGlw&oe=64C67F68" style="width: 10em; height: 10em; border-radius: 1em;" alt="profile-sample1"
                class="img-fluid box-shadow-black" />
            </div>
        </div>
    </div>
    <br>
    <p
        class="orange-line">
    </p>
    
    <!--GALERIA-->
    <div class="container">
        <h1 class="text-center mb-4 headers-text">Galería</h1>
        <div class="splide box-shadow-black">
            <div class="splide__track">
            <ul class="splide__list" >
                <!-- Agrega más slides según tus necesidades -->
                <li class="splide__slide"><img src="https://scontent.fagu3-1.fna.fbcdn.net/v/t39.30808-6/361627710_998055171173162_1537995063380116495_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=730e14&_nc_ohc=CPTkqU-bxDQAX_KJKxH&_nc_ht=scontent.fagu3-1.fna&oh=00_AfBZaGHKcjkByl6-QurCZQFka36BE9WfN58iJRGw8zJPjw&oe=64C43BEE" style="width: 100%;" alt=""></li>
                <li class="splide__slide"><img src="https://scontent.fagu3-1.fna.fbcdn.net/v/t39.30808-6/359521522_993328001645879_2585030852129326655_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=730e14&_nc_ohc=o7ivJWq3Gp0AX9S0WkD&_nc_ht=scontent.fagu3-1.fna&oh=00_AfDrLH_-UxN9z7cZ47w8wL0YpqpUf7gPDltQC5E2j0vxZA&oe=64C42106" style="width: 100%;" alt=""></li>
                <li class="splide__slide"><img src="https://scontent.fagu3-1.fna.fbcdn.net/v/t39.30808-6/356824355_983702722608407_3770255729415900941_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=730e14&_nc_ohc=U_FRAA45ryQAX-MON9H&_nc_ht=scontent.fagu3-1.fna&oh=00_AfCBZVeXgRK95GOA0Fy42pLWr2F5AUOt96GGV8XuIFrJBA&oe=64C47137" style="width: 100%;" alt=""></li>
            </ul>
            </div>
        </div>
    </div>
    
    <br>
    <p class="orange-line mt-2"></p>

    <!--PRODUCTOS-->
    <div class="container">
        <h1 class="text-center mb-4 headers-text">Productos y/o Servicios</h1>
        <div style="display: flex; justify-content: center; align-items: center;  flex-wrap: wrap; justify-content: space-evenly;">
            <button class="shadow__btn mb-3">
                Pulseras
            </button>
            <button class="shadow__btn mb-3">
                Collares
            </button>
            <button class="shadow__btn mb-3">
                Aretes
            </button>
            <button class="shadow__btn mb-3">
                Regalos
            </button>
            <button class="shadow__btn mb-3">
                Bisuteria
            </button>

        </div>
    </div>
<br>
    <p class="orange-line"></p>
    
    <!--INFORMACIÓN DE CONTACTO-->
    <h1 class="text-center mb-3 headers-text">Información de contacto</h1>
    <div class="container mt-2 text-white div-contacto box-shadow-black">
        <div class="row">
            <div class="col-md-4 center-content mt-3" style="flex-direction: column;">
                <h2 class="text-white">Ubicación</h2>
                <p class="p-contacto">Calle: Vazuqez del mercado #319</p>
                <p class="p-contacto">Colonia: Centro</p>
                <p class="p-contacto">codigo postal: 20000</p>
                <p class="p-contacto"><i class="fa fa-phone-square fa-lg text-white" aria-hidden="true"></i> 449-209-87-90</p>
            </div>
            <div class="col-md-4 center-content p-contacto" style="flex-direction: column;">
                <h2 class="text-white">Horario</h2>
                <p class="p-contacto">Martes-Viernes 2:00pm - 10:00pm</p>
                <p class="p-contacto">Sabados-Domingos 3:00pm - 9:00pm</p>
            </div>
            <div class="col-md-4 center-content">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d21248.774146648502!2d-102.29264898560318!3d21.879320018459453!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429ee7cdce18e43%3A0xbb2fb10a45556cd!2sCatedral%20de%20Aguascalientes%20(Catedral%20Bas%C3%ADlica%20de%20Ntra.%20Sra.%20de%20la%20Asunci%C3%B3n)!5e0!3m2!1sen!2smx!4v1690218407691!5m2!1sen!2smx" 
                width="470" height="280" style="border: 0; border-radius: 1em;" class="box-shadow-white" allowfullscreen="" 
                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>