.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 520px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("https://a.travel-assets.com/findyours-php/viewfinder/images/res40/200000/200556-Aguascalientes.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-header {
    text-shadow: 2px 2px 20px rgba(255,255,255,0.53), 
    2px 2px 20px rgba(255,255,255,0.53), 
    2px 2px 20px rgba(26,35,133,0.53), 
    2px 2px 20px rgba(26,35,133,0.53), 
    2px 2px 20px rgba(26,35,133,0.53);
    font-family: sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 2.1em;
    text-transform: uppercase;
    margin: 0;
}

.intro p {
    font-size: 1.5em;
    color: #d1d1d1;
    text-transform: uppercase;
    margin: 20px 0;
    text-shadow: -1px 1px 0 #000,
    2px 2px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}