<div class="intro animate__animated animate__fadeInLeft animate__slow">
    <h1 class="text-center">Negocios locales</h1>
    <p class="text-center">Desarrollado por Raul Pineda</p>
</div>

<div class="container mt-4 fadeInAnimation" style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
    <h1 class="text-center web-font mb-5 headers-text text-shadow">Top 5 Locales Favoritos Por La Comunidad</h1>
    <div class="row">
        <div class="col">
            <div class="card mb-3 box-shadow-black" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../../assets/images/staticImages/hastaelgorrologo.jpg" class="img-fluid rounded-start"
                            alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Hasta el gorro</h5>
                            <p class="card-text">“El trabajo hecho con gusto y con amor, siempre es una creación
                                original y única.”
                                Aguascalientes, Ags</p>
                            <p class="card-text"><small class="text-muted"><strong>Contacto: 449 190
                                        2200</strong></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3 box-shadow-black" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../../assets/images/staticImages/agaphi-logo.png" class="img-fluid rounded-start"
                            alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Joyeria Agapi</h5>
                            <p class="card-text">“El trabajo hecho con gusto y con amor, siempre es una creación
                                original y única.”
                                Aguascalientes, Ags</p>
                            <p class="card-text"><small class="text-muted"><strong>Contacto: 449 190
                                        2200</strong></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card mb-3 box-shadow-black" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../../assets/images/staticImages/hastaelgorrologo.jpg" class="img-fluid rounded-start"
                            alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Hasta el gorro</h5>
                            <p class="card-text">“El trabajo hecho con gusto y con amor, siempre es una creación
                                original y única.”
                                Aguascalientes, Ags</p>
                            <p class="card-text"><small class="text-muted"><strong>Contacto: 449 190
                                        2200</strong></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3 box-shadow-black" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../../assets/images/staticImages/flamingos.jpg" class="img-fluid rounded-start"
                            alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Flamingos Beach</h5>
                            <p class="card-text">“El trabajo hecho con gusto y con amor, siempre es una creación
                                original y única.”
                                Aguascalientes, Ags</p>
                            <p class="card-text"><small class="text-muted"><strong>Contacto: 449 190
                                        2200</strong></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
