<br><br>
<div class="container fadeInAnimation center-content mt-5 screen-height"
    style="flex-direction: column;;">
    <div class="box-shadow-black container form-box form-container" style="background-color: white;">
        <!--DATOS GENERALES-->
        <div *ngIf="currentPage === 1">
            <form [formGroup]="nuevoForm" (ngSubmit)="nuevoSubmitted1()">
                <h2 style="display: flex; justify-content: center; font-weight: bolder;" class="mb-4">Datos Generales
                </h2>
                <!--nombre del negocio-->
                <div class="form-outline mb-4">
                    <label class="form-label" for="nombre">Nombre del negocio *</label>
                    <input type="text" id="nombre" class="form-control" formControlName="nombre" />

                    <!--validaciones-->
                    <div class="form-text text-danger"
                        *ngIf="nuevoForm.controls.nombre.hasError('required') && Nombre.touched">
                        Campo requerido
                    </div>
                    <div class="form-text text-danger" *ngIf="nuevoForm.get('nombre')?.hasError('minlength') || nuevoForm.get('nombre')?.hasError('maxlength')  && Nombre.touched">
                        Debe contar con un mínimo de 3 caracteres y un máximo de 100.
                    </div>
                    <div class="form-text text-danger" *ngIf="nuevoForm.get('nombre')?.hasError('noWhitespace') && nuevoForm.get('nombre')?.touched">
                        Usted dejo algún espacio en blanco no permitido <br> <small class="text-danger"> (al inicio o final de su texto)</small>
                    </div>
                </div>

                <!--descripcion-->
                <div class="form-outline mb-4">
                    <label class="form-label" for="descripcion">Descripcion breve del negocio * <br> <span
                            class="text-muted">(Quienes son y que venden)</span></label>
                    <textarea type="text" formControlName="descripcion" id="descripcion" rows="5"
                        class="form-control"></textarea>
                    <!--validaciones-->
                    <div class="form-text text-danger"
                        *ngIf="nuevoForm.controls.descripcion.hasError('required') && Descripcion.touched">
                        Campo requerido
                    </div>
                    <div class="form-text text-danger" *ngIf="nuevoForm.get('descripcion')?.hasError('minlength') || nuevoForm.get('descripcion')?.hasError('maxlength')  && Descripcion.touched">
                        Debe contar con un mínimo de 10 caracteres y un máximo de 500.
                    </div>
                    <div class="form-text text-danger" *ngIf="nuevoForm.get('descripcion')?.hasError('noWhitespace') && nuevoForm.get('descripcion')?.touched">
                        Usted dejo algún espacio en blanco no permitido <br> <small class="text-danger"> (al inicio o final de su texto)</small>
                    </div>
                </div>

                <!--categoria-->
                <div class="form-outline mb-4">
                    <label class="form-label" for="categoria">Seleccione la categoria del negocio *</label>
                    <select name="categoria" formControlName="categoria" class="form-select form-select-lg mb-3"
                        aria-label=".form-select-lg example">
                        <option>Comida</option>
                        <option selected value="Joyeria">Joyeria</option>
                        <option value="Tecnologia">Tecnologia</option>
                        <option value="Otra">Otra</option>
                    </select>
                    <!--validaciones-->
                    <div class="form-text text-danger"
                        *ngIf="nuevoForm.controls.categoria.hasError('required') && Categoria.touched">
                        Seleccione una categoria
                    </div>
                </div>
                <!--Guardar-->
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="submit" [disabled]="nuevoForm.invalid"
                        class="btn btn-outline-primary">Siguiente</button>
                </div>
            </form>
        </div>
        <!--PRODUCTOS Y/O SERVICIOS-->
        <div class="mt-4" *ngIf="currentPage === 2">
            <form [formGroup]="nuevoForm2" (ngSubmit)="nuevoSubmitted2()">
                <h2 style="display: flex; justify-content: center; font-weight: bolder;" class="mt-4">Productos y/o
                    Servicios</h2>
                <!--Productos y/o servicios-->
                <div class="form-outline mb-4">
                    <label class="form-label" for="productos">Agregue los productos y/o servicios que ofrece * <br><span
                            class="text-muted">(Máximo 8)</span></label>
                    <br>
                    <div *ngFor="let input of inputList; let i = index" class="center-content">
                        <div class="input-group mb-3">
                            <label for="productos" class="center-content me-2">#{{i+1}} </label>
                            <input type="text" required id="productos" name="productos" class="form-control"
                                *ngIf="input" formControlName="productosservicios" (input)="onInputChange($event, i)">
                            <button class="btn btn-danger" type="button" id="button-addon2"
                                (click)="removerProducto(i)">Eliminar</button>
                        </div>
                    </div>
                    <!--validaciones-->
                    <p class="form-text text-danger"
                        *ngIf="nuevoForm2.controls.productosservicios.hasError('required') && ProductosServicios.touched">
                        Error en un campo
                    </p>
                    <!--validaciones-->
                    <p class="form-text text-danger" *ngIf="this.productosError != '' ">
                        {{this.productosError}}
                    </p>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a class="btn btn-primary mt-1" (click)="agregarProducto()">Agregar</a>
                    </div>
                </div>
                <!--submitt-->
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button [disabled]="nuevoForm2.invalid" class="btn btn-outline-primary"
                        type="submit">Siguiente</button>
                </div>
            </form>
        </div>
        <!--DIRECCION Y HORARIOS-->
        <div *ngIf="currentPage === 3">
            <form [formGroup]="nuevoForm3" (ngSubmit)="nuevoSubmitted3()">
                <h2 style="display: flex; justify-content: center; font-weight: bolder;" class="mt-4">Dirección</h2>
                <!--verificar si cuenta con direccion fisica-->
                <div class="container mb-3">
                    <div class="row">
                        <div class="col">
                            <p>¿Tu negocio cuenta con una dirección fisíca?</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="form-check-label me-2" for="flexRadioDefault1">
                                Sí
                            </label>
                            <input class="form-check-input" [checked]="this.tieneDireccion == true" (click)="verCamposDireccion1()" type="radio"
                                name="flexRadioDefault" id="flexRadioDefault1">
                        </div>
                        <div class="col">
                            <label class="form-check-label me-2" for="flexRadioDefault1">
                                No
                            </label>
                            <input class="form-check-input" (click)="ocultarCamposDireccion2()" [checked]="this.tieneDireccion == false" type="radio"
                                name="flexRadioDefault" id="flexRadioDefault1">
                        </div>
                    </div>
                </div>

                <div *ngIf="this.tieneDireccion">
                    <!--Calle-->
                    <div class="input-group mb-3">
                        <span class="input-group-text">Calle*</span>
                        <input type="text" class="form-control" formControlName="calle">
                        <!--validaciones-->
                        <div class="container text-danger"
                            *ngIf="nuevoForm3.controls.calle.hasError('required')">
                            Campo requerido
                        </div>
                        <div class="container form-text text-danger" *ngIf="nuevoForm3.get('calle')?.hasError('minlength') || nuevoForm3.get('calle')?.hasError('maxlength')  && Calle.touched">
                            Debe contar con un mínimo de 2 caracteres y un máximo de 60.
                        </div>
                        <div class="container form-text text-danger" *ngIf="nuevoForm3.get('calle')?.hasError('noWhitespace') && nuevoForm3.get('calle')?.touched">
                            Usted dejo algún espacio en blanco no permitido <br> <small class="text-danger"> (al inicio o final de su texto)</small>
                        </div>
                    </div>
                    <!--Numero-->
                    <div class="input-group mb-3">
                        <span class="input-group-text" name="numero">Número*</span>
                        <input type="text" class="form-control" formControlName="num_calle">
                        <!--validaciones-->
                        <div class="container text-danger"
                            *ngIf="nuevoForm3.controls.num_calle.hasError('required')">
                            Campo requerido
                        </div>
                        <div class="container form-text text-danger" *ngIf="nuevoForm3.get('num_calle')?.hasError('minlength') || nuevoForm3.get('num_calle')?.hasError('maxlength')  && Num_Calle.touched">
                            Debe contar con un mínimo de 1 caracter y un máximo de 8.
                        </div>
                        <div class="container form-text text-danger" *ngIf="nuevoForm3.get('num_calle')?.hasError('noWhitespace') && nuevoForm3.get('num_calle')?.touched">
                            Usted dejo algún espacio en blanco no permitido <br> <small class="text-danger"> (al inicio o final de su texto)</small>
                        </div>
                    </div>
                    <!--Interior-->
                    <div class="input-group mb-3">
                        <span class="input-group-text" name="interior">Interior <small
                                class="text-muted">(Opcional)</small></span>
                        <input type="text" class="form-control" formControlName="interior">
                        
                        <!--validaciones-->
                        <div class="container form-text text-danger" *ngIf="nuevoForm3.get('interior')?.hasError('minlength') || nuevoForm3.get('interior')?.hasError('maxlength')  && Interior.touched">
                            Debe contar con un mínimo de 1 caracter y un máximo de 5.
                        </div>
                        <div class="container form-text text-danger" *ngIf="nuevoForm3.get('interior')?.hasError('noWhitespace') && nuevoForm3.get('interior')?.touched">
                            Usted dejo algún espacio en blanco no permitido <br> <small class="text-danger"> (al inicio o final de su texto)</small>
                        </div>
                    </div>
                    <!--Colonia-->
                    <div class="input-group mb-3">
                        <span class="input-group-text" name="colonia">Colonia*</span>
                        <input type="text" class="form-control" formControlName="colonia">
                        <!--validaciones-->
                        <div class="container text-danger"
                            *ngIf="nuevoForm3.controls.colonia.hasError('required')">
                            Campo requerido
                        </div>
                        <div class="container form-text text-danger" *ngIf="nuevoForm3.get('colonia')?.hasError('minlength') || nuevoForm3.get('colonia')?.hasError('maxlength')  && Colonia.touched">
                            Debe contar con un mínimo de 3 caracteres y un máximo de 60.
                        </div>
                        <div class="container form-text text-danger" *ngIf="nuevoForm3.get('colonia')?.hasError('noWhitespace') && nuevoForm3.get('colonia')?.touched">
                            Usted dejo algún espacio en blanco no permitido <br> <small class="text-danger"> (al inicio o final de su texto)</small>
                        </div>
                    </div>
                    <!--cp-->
                    <div class="input-group mb-4">
                        <span class="input-group-text" name="cp">Código Postal*</span>
                        <input type="number" class="form-control" formControlName="cp">
                        <!--validaciones-->
                        <div class="container text-danger"
                            *ngIf="nuevoForm3.controls.cp.hasError('required')">
                            Campo requerido
                        </div>
                        <div class="container text-danger" *ngIf="nuevoForm3.get('cp')?.hasError('pattern')  && Cp.touched">
                            Formato érroneo
                        </div>
                    </div>
                </div>
                <!--HORARIOS-->
                <h2 style="display: flex; justify-content: center; font-weight: bolder;" class="mt-4">Horarios</h2>
                <span class="text-muted mb-5">(Escriba los horarios que maneja su negocio)</span>
                <div class="row center-content mt-2 mb-4"
                    style="border: 1px dashed lightslategrey; border-radius: 3em;">
                    <p class="center-content mt-2" style="color: lightslategrey;">Ejemplos:</p>
                    
                    <div class="col-2 col-sm-2">
                        <label for="martes" class="col-form-label" style="color: lightslategray;">Martes</label>
                    </div>
                    <div class="col-6 col-sm-6 mb-2">
                        <input type="text" id="martes" class="form-control" aria-describedby="passwordHelpInline"
                            name="martes" value="10:00am - 6:00pm" disabled>
                    </div>

                    <div class="row center-content">
                        <div class="col-2 col-sm-2">
                            <label for="domingo" class="col-form-label" style="color: lightslategray;">Domingo</label>
                        </div>
                        <div class="col-6 col-sm-6 mb-2">
                            <input type="text" id="domingo" class="form-control" aria-describedby="passwordHelpInline"
                                name="domingo" value="Cerrado" disabled>
                        </div>
                    </div>
                </div>
                <div class="form-outline mt-2 mb-4">
                    <div *ngFor="let dia of diasSemana" class="mb-1">
                        <div class="row center-content">
                            <div class="col-3 col-sm-3">
                                <label for="{{ dia }}" class="col-form-label">{{ dia }}</label>
                            </div>
                            <div class="col-8 col-sm-8">
                                <input type="text" id="{{ dia }}" formControlName="{{ dia }}" class="form-control"
                                    aria-describedby="passwordHelpInline"  name="{{ dia }}">

                                <!-- Validaciones-->
                                <div class="form-text text-danger"
                                    *ngIf="nuevoForm3.get(dia)?.hasError('required') && nuevoForm3.get(dia)?.touched">
                                    <p>Horario requerido</p>
                                </div>
                                <div class="form-text text-danger" *ngIf="nuevoForm3.get(dia)?.hasError('minlength')">
                                    Debe contar con un mínimo de 6 caracteres
                                </div>
                                <div class="form-text text-danger" *ngIf="nuevoForm3.get(dia)?.hasError('maxlength')">
                                    Debe contar con un máximo de 50 caracteres
                                </div>
                                <div class="form-text text-danger" *ngIf="nuevoForm3.get(dia)?.hasError('noWhitespace') && nuevoForm3.get(dia)?.touched">
                                    Usted dejo algún espacio en blanco no permitido <br> <small class="text-danger"> (al inicio o final de su texto)</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Botón de submit -->
                    <div class="d-grid gap-2 col-6 mx-auto mt-4">
                        <button [disabled]="nuevoForm3.invalid" class="btn btn-outline-primary"
                            type="submit">Siguiente</button>
                    </div>
                </div>
            </form>
        </div>

        <!--UBICACION EN GOOGLE MAPS-->
        <div *ngIf="currentPage === 4">
            <h2 style="display: flex; justify-content: center; font-weight: bolder;" class="mt-2">Ubicación en Google
                Maps</h2>
            <h5 class="mb-2">Seleccione la ubicación de su negocio en el mapa</h5>
            <br>
            <h4 *ngIf="this.locationChosen" class="center-content"><span
                    class="badge rounded-pill bg-success mb-3">Ubicación seleccionada!</span></h4>
            <div class="search-container">
                <input #search placeholder="Buscar lugar" type="text">
                </div>
                <div id="mapContainer" class="box-shadow-black mb-4">
                <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="14" [mapTypeControl]="true"
                            [fullscreenControl]="true" [streetViewControl]="true" (mapClick)="onChoseLocation($event)">
                    <agm-marker [latitude]="latitude" [longitude]="longitude" *ngIf="locationChosen"></agm-marker>
                </agm-map>
                </div>
            <!--Guardar-->
            <div class="d-grid gap-2 col-6 mx-auto mt-5">
                <button [disabled]="!this.locationChosen" class="btn btn-outline-primary"
                    (click)="GuardarUbicacion()">Siguiente</button>
            </div>
        </div>

        <!--Redes sociales-->
        <div *ngIf="currentPage === 5">
            <form [formGroup]="nuevoForm4" (ngSubmit)="nuevoSubmitted4()">
                <h2 style="display: flex; justify-content: center; font-weight: bolder;" class="mt-4">Redes Sociales</h2>
                <p><span class="text-muted mb-5">Agrega los enlaces URL de tus páginas de redes sociales</span></p>

                <!--facebook-->
                <div class="form-outline mb-4">
                    <label class="form-label" for="facebook">
                        <i class="fa fa-facebook-square fa-2x" style="color: blue;" aria-hidden="true"></i>
                        Página de Facebook <span class="text-muted mb-5">(opcional)</span>
                        <i *ngIf="!nuevoForm4.get('facebook')?.hasError('pattern') && Facebook.touched && nuevoForm4.get('facebook')?.value !='' " class="fa fa-check fa-lg ms-3 text-success" aria-hidden="true"></i>
                        <i *ngIf="nuevoForm4.get('facebook')?.hasError('pattern') && Facebook.touched && nuevoForm4.get('facebook')?.value !='' " class="fa fa-times fa-lg ms-3 text-danger" aria-hidden="true"></i>
                    </label>
                    <input type="search" id="facebook" class="form-control" formControlName="facebook"/>
                    <!--validaciones-->
                    <div class="text-danger" *ngIf="nuevoForm4.get('facebook')?.hasError('pattern')  && Facebook.touched">
                        Formato érroneo
                    </div>
                </div>

                <!--instagram-->
                <div class="form-outline mb-4">
                    <label class="form-label" for="instagram">
                        <i class="fa fa-instagram fa-2x" style="color: #C31EF4;" aria-hidden="true"></i>
                        Página de Instagram <span class="text-muted mb-5">(opcional)</span>
                        <i *ngIf="!nuevoForm4.get('instagram')?.hasError('pattern') && Instagram.touched && nuevoForm4.get('instagram')?.value !='' " class="fa fa-check fa-lg ms-3 text-success" aria-hidden="true"></i>
                        <i *ngIf="nuevoForm4.get('instagram')?.hasError('pattern') && Instagram.touched && nuevoForm4.get('instagram')?.value !='' " class="fa fa-times fa-lg ms-3 text-danger" aria-hidden="true"></i>
                    </label>
                    <input type="search" id="instagram" class="form-control" formControlName="instagram" />
                    <!--validaciones-->
                    <div class="text-danger" *ngIf="nuevoForm4.get('instagram')?.hasError('pattern')  && Instagram.touched">
                        Formato érroneo
                    </div>
                </div>

                <!--Whatsapp-->
                <div class="form-outline mb-2">
                    <label class="form-label" for="whatsapp">
                        <i class="fa fa-whatsapp fa-2x" style="color: green;" aria-hidden="true"></i>
                        Whatsapp o número teléfonico <span class="text-muted mb-5">(opcional)</span>
                        <i *ngIf="!nuevoForm4.get('whatsapp')?.hasError('pattern') && Whatsapp.touched && nuevoForm4.get('whatsapp')?.value !='' " class="fa fa-check fa-lg ms-3 text-success" aria-hidden="true"></i>
                        <i *ngIf="nuevoForm4.get('whatsapp')?.hasError('pattern') && Whatsapp.touched && nuevoForm4.get('whatsapp')?.value !='' " class="fa fa-times fa-lg ms-3 text-danger" aria-hidden="true"></i>
                    </label>
                    <p class="text-muted">Ejemplos: 4498887766 ó +524921112233</p>
                    <input type="text" id="whatsapp" class="form-control" formControlName="whatsapp" (keydown)="preventSpace($event)"/>
                    <!--validaciones-->
                    <div class="text-danger" *ngIf="nuevoForm4.get('whatsapp')?.hasError('pattern')  && Whatsapp.touched">
                        Formato érroneo
                    </div>
                </div>
                <!-- Botón de submit -->
                <div class="d-grid gap-2 col-6 mx-auto mt-3">
                    <button [disabled]="nuevoForm4.invalid" class="btn btn-outline-primary mt-2"
                        type="submit">Siguiente</button>
                </div>
            </form>
        </div>

        <!--Imagenes DE PRODUCTOS-->
        <div *ngIf="currentPage === 6">
            <!--Imagenes de los productos-->
            <form [formGroup]="nuevoForm5" (ngSubmit)="nuevoSubmitted5()">
                <h2 style="display: flex; justify-content: center; font-weight: bolder;" class="mt-4">Imagenes</h2>
                
                <!-- ... tu código existente ... -->
                <div *ngFor="let imagenFormGroup of input_imagenes; let i = index" class="center-content">
                    <div class="input-group mb-3">
                        <label for="imagenes" class="center-content me-2">#{{ i + 1 }} </label>
                        <input type="search" id="imagenes" name="imagenes" class="form-control" *ngIf="imagenFormGroup.get('url')"
                            [formControl]="imagenFormGroup.get('url')" (input)="onInputChange2($event, i)">
                        <button class="btn btn-danger" style="  border-radius: 0 1em 1em 0;" type="button" id="button-addon2" (click)="removerImagen(i)">Eliminar
                        </button>
                        <!-- Validaciones -->
                        <div class="container" *ngIf="imagenFormGroup.get('url')?.hasError('pattern')">
                            <p class="text-danger">URL no válida</p>
                        </div>
                        <div class="container" *ngIf="imagenFormGroup.get('url')?.hasError('required')">
                            <p class="text-danger">Campo requerido</p>
                        </div>
                        <!--iconos de validaciones-->
                        <div class="container">
                            <i *ngIf="!imagenFormGroup.get('url')?.hasError('pattern') && !imagenFormGroup.get('url')?.hasError('required')" class="fa fa-check fa-lg ms-3 text-success" aria-hidden="true"></i>
                            <i *ngIf="imagenFormGroup.get('url')?.hasError('pattern') || imagenFormGroup.get('url')?.hasError('required')" class="fa fa-times fa-lg ms-3 text-danger" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto mb-4">
                    <button class="btn btn-primary" type="button" (click)="agregarImagen()">Agregar Imagen</button>
                </div>
                <!-- ... tu código existente ... -->

                <!--image preview-->
                <div class="container">
                    <div class="row center-content">
                        <div class="col-6 mb-4" *ngFor="let imagen of input_imagenes; let i = index">
                            <div class="text-center">
                                <img [src]="imagen.imagen" class="box-shadow-black" width="100%" id="ImageUrlPreview"
                                    onerror="this.src='../../../assets/images/noImage.png'" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Botón de submit -->
                <div class="d-grid gap-2 col-6 mx-auto mt-2">
                    <p *ngIf="nuevoForm5.invalid || nuevoForm4.invalid || nuevoForm3.invalid || nuevoForm2.invalid || nuevoForm.invalid" class="text-danger text-center">Error en alguno de los formularios. Favor de verificar</p>
                    <button [disabled]="nuevoForm5.invalid || nuevoForm4.invalid || nuevoForm3.invalid || nuevoForm2.invalid || nuevoForm.invalid" class="btn btn-outline-success mt-1"
                        type="submit">CREAR</button>
                </div>
            </form>
        </div>

        <!-- Paginación simple -->
        <div class="mt-5 center-content">
            <ul class="pagination">
                <li class="page-item" [class.disabled]="currentPage === 1">
                    <a class="page-link" style="border: 0;" (click)="goToPage(currentPage - 1)"><<</a>
                </li>
                <li class="page-item" [class.active]="currentPage === 1">
                    <a class="page-link round" (click)="goToPage(1)">1</a>
                </li>
                <li class="page-item" [class.active]="currentPage === 2" [class.disabled]="!this.guardar1">
                    <a class="page-link round" (click)="goToPage(2)">2</a>
                </li>
                <li class="page-item" [class.active]="currentPage === 3" [class.disabled]="!this.guardar2">
                    <a class="page-link round" (click)="goToPage(3)">3</a>
                </li>
                <li class="page-item" [class.active]="currentPage === 4" [class.disabled]="!this.guardar3">
                    <a class="page-link round" (click)="goToPage(4)">4</a>
                </li>
                <li class="page-item" [class.active]="currentPage === 5" [class.disabled]="!this.guardar4">
                    <a class="page-link round" (click)="goToPage(5)">5</a>
                </li>
                <li class="page-item" [class.active]="currentPage === 6" [class.disabled]="!this.guardar5">
                    <a class="page-link round" (click)="goToPage(6)">6</a>
                </li>
                <!-- Agrega más páginas según sea necesario -->
                <li class="page-item" [class.disabled]="currentPage === totalPages || !this.guardar1 || !this.guardar2 || !this.guardar3 || !this.guardar4 || !this.guardar5">
                    <a class="page-link" style="border: 0;" (click)="goToPage(currentPage + 1)">>></a>
                </li>
            </ul>
        </div>
    </div>
</div>


<!--script para visualizar en tiempo real imagenes-->
<script>
    $(document).ready(function () {
        var output = document.getElementById("ImageUrlPreview")
        output.src = $("#imagen").val();
    })

    $("#imagen").on("change", function () {
        var output = document.getElementById("ImageUrlPreview")
        output.src = $(this).val();
    })
</script>