@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.web-font{
    font-family: 'Lato', sans-serif;
}

.web-color{
   color:#2F328A
}

body{
    background-color: #DFE3EE;
}

/*background blue gradient*/
.bg-blue{
    background: linear-gradient(141deg, rgba(28, 161, 244, 0.833) 0%, rgb(17, 1, 106) 96%);
}

/*box shadows*/
.box-shadow-black{
    box-shadow: 0px 0px 16px 6px rgba(0,0,0,0.74);
    -webkit-box-shadow: 0px 0px 16px 6px rgba(0,0,0,0.74);
    -moz-box-shadow: 0px 0px 16px 6px rgba(0,0,0,0.74);  
}

.box-shadow-white{
    box-shadow: 0px 0px 34px -11px rgba(255,255,255,1);
    -webkit-box-shadow: 0px 0px 34px -11px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 34px -11px rgba(255,255,255,1);
}  

/*color text for headers*/
.headers-text{
    color: #2F328A;
    text-shadow: 0px 1px 5px rgba(23, 134, 255, 0.61);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.52);
    text-shadow: 0px 0px 18px rgba(48, 86, 255, 0.52);
}

/*text header beauty*/
.text-header-beauty{
    text-align: center;
    font-weight: bold;
    background-image: linear-gradient(to left, #0b0d57, #26335a);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 2px 2px 15px rgba(28,84,176,0.32), 2px 2px 15px rgba(28,84,176,0.32);
}
/*    background-image: linear-gradient(to left, #3c549a, #93a1d3);
*/

/*text shadow for small texts*/
.text-shadow{
    text-shadow: -1px 1px 0 #000,
    2px 2px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

.text-shadow2{
    text-shadow: 2px 2px 9px rgba(0,0,0,0.47), 1px 0px 0px #000000, 1px 0px 20px #000000, 1px 0px 20px #000000, 1px 0px 20px #000000;
}

/*principal animation of the main page*/
.fadeInAnimation {
    animation: fadeIn 3s normal forwards ease-in-out;
}

/*this center everything that use it*/
.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*blue line that separates sectionss*/
.orange-line{
    background: rgb(242,153,247);
    background: linear-gradient(59deg, rgba(242,153,247,1) 0%, rgba(208,0,133,1) 100%);
    width: 100%; 
    height: 1em;
    border-radius: 5em;
}

.headers-text2{
    color: rgb(240, 25, 255);
    text-shadow: 0px 1px 1px rgba(255, 23, 232, 0.764);
    text-shadow: 0px 0px 5px rgba(89, 0, 137, 0.847);
}

.orange-line2{
    background-image: linear-gradient(to left, #3c549a, #93a1d3);    
    width: 100%; 
    height: 1em;
    border-radius: 5em;
}

/*form box*/
.form-box{
    margin-top: 5%;
    border-radius: 1em;
    padding: 1em;
    font-weight: bold;
}

/*buttons*/
.btn{
    border-radius: 1em;
}

.btn-primary{
    background-color: #2F328A;
}

.btn-primary:hover{
    background-color: #1b1d6d;
}

.btn-primary:disabled{
    background-color: #2F328A;
}

/*tamaño minimo de la pantalla*/
.screen-height{
    min-height: calc(100vh - 70px)
}  


/*neon*/
.neon {
    font-size: 20px;
    text-shadow: -1px -1px 12px rgba(47,50,138,0.8), -1px -1px 12px rgba(47,50,138,0.8), -1px -1px 12px rgba(47,50,138,0.8), -1px -1px 12px rgba(47,50,138,0.8);
}