<!--footer-->
<div class="container-fluid bg-blue  my-footer mt-5 animate__animated animate__fadeInUp">

  <h2 class="text-center text-white mb-3">
    <i class="fa fa-users" aria-hidden="true"></i> Social Media <i class="fa fa-users" aria-hidden="true"></i>
  </h2>

  <div style="flex-direction: row;" id="socialMedia">

    <a href="https://www.facebook.com/profile.php?id=100007945394722" target="_blank">
      <i class="fa fa-instagram fa-3x text-white me-3" aria-hidden="true"></i>
    </a>
    <a href="https://www.instagram.com/rulz_pineda/" target="_blank">
      <i class="fa fa-facebook-square fa-3x text-white me-3" aria-hidden="true"></i>
    </a>
    <a href="https://github.com/RaulPineda12" target="_blank">
      <i class="fa fa-github fa-3x text-white me-3" aria-hidden="true"></i>
    </a>
    <a href="https://www.linkedin.com/in/raul-ivan-pineda-pedraza/" target="_blank">
      <i class="fa fa-linkedin-square fa-3x text-white" aria-hidden="true"></i>
    </a>
  </div>
</div>